<ion-content class="container-list">
  <ion-searchbar placeholder="Pesquisar por Código"></ion-searchbar>

  <ion-list class="list" [inset]="true">
    <ion-item class="item" *ngFor="let evento of eventosFiltrados">
      <ion-label class="label">
        <p>{{ evento.id }}</p><br><br>
        {{ evento.nome }}<br><br>
        {{ evento.inicioInscricoes }}
        </ion-label>
      
      <ion-buttons slot="end">
        <ion-button *ngIf="evento" (click)="editarEvento(evento)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon class="trash" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
