.home.container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  

  .div-slogan {
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    padding: 20px;
    margin: 20px 0px;
    top: 6.2rem;
    width: 80%;
    color: #181818;
    transition: 6s ease;

    button {
      padding: 15px 50px;
      background-color: hsla(108, 34%, 35%, 0.314);
      color: #2b2b2b;
      font-weight: 500;
      font-size: 1rem;
      text-align: center;
      margin: 0;
      border-radius: 5px;

      &:first-child {
        background-color: #47783b7c;
      }

      
    }

    button:hover {
      color: rgb(20, 170, 33);
      padding: 17px 52px;
      font-size: 1.2rem;
    }
  }

  .botao-criar {
    background: linear-gradient(90deg, #48793c 22%, #bcc200 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 80px;
    right: 50px;
    border-radius: 100%;
    width: 70px;
    height: 70px;

    color: aliceblue;
    font-size: 3rem;
  }
}
