<ion-content class="container-list">
  <ion-searchbar [(ngModel)]="termoPesquisa" (ionChange)="filtrarAtletas()" placeholder="Código ou Nome"></ion-searchbar>

  <ion-list class="list" [inset]="true">
    <ion-item (click)="editarAtleta(atleta)" class="item-background-color" *ngFor="let atleta of atletasFiltrados" >
      <ion-label class="label">
        <p>
        Código: {{ atleta.cod }}</p><br><br>
        {{ atleta.nome }}<br><br>
        CPF: {{ atleta.cpf }}</ion-label>
    
      <ion-buttons slot="end">
        <ion-button (click)="excluirAtleta(atleta)">
          <ion-icon class="trash" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>