.container-list {
  position: relative;
  top: 230px;
  width: 90vw;
  height: 60%;
  
  ion-item {
    font-weight: 500;
  }

}

ion-button {
  height: 55px;
  border-radius: 5px;

  .trash {
    color: rgb(204, 30, 30);
  }
}

