<ion-content class="container">

  <ion-toolbar>
    <ion-title>Editar Atleta</ion-title>
  </ion-toolbar>

  <form [formGroup]="atletaForm" (ngSubmit)="salvarEdicao()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-label formControlName=""></ion-label>
      <ion-input placeholder="Alterar Nome" clearInput></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-label formControlName="cpf"></ion-label>
      <ion-input placeholder="Alterar CPF" clearInput></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full">
      <ion-icon slot="end" name="checkmark-outline"></ion-icon>
      Salvar
    </ion-button>
  </form>
</ion-content>
