ion-content.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

ion-header {
  display: flex;
  align-items: center;

  ion-toolbar {
    --background: linear-gradient(90deg, #48793c 22%, #bcc200 100%);
    padding: 15px;
    color: #fff;
    width: 100%;
  }
}

form {
  width: 100%;
  max-width: 400px;
}

ion-datetime {
  width: 100%;
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  --background: linear-gradient(90deg, #48793c 22%, #bcc200 100%);
  margin-top: 20px;
}
ion-buttons {

  display: flex;
  align-items: center;
}
