<ion-content class="container">

  <ion-header>
    <ion-toolbar>
      <ion-title>Criar Evento</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="fecharModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="eventoForm" (ngSubmit)="cadastrarEvento()">
    <ion-item>
      <ion-label position="floating">Nome do Evento</ion-label>
      <ion-input formControlName="nome" placeholder="Informe o nome do evento" clearInput type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Data do Evento</ion-label>
      <ion-datetime formControlName="dataEvento" placeholder="Selecione a data do evento" display-format="DD/MM/YYYY" clearInput></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Início das Inscrições</ion-label>
      <ion-datetime formControlName="inicioInscricoes" placeholder="Selecione a data de início das inscrições" display-format="DD/MM/YYYY" clearInput></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Término das Inscrições</ion-label>
      <ion-datetime formControlName="fimInscricoes" placeholder="Selecione a data de término das inscrições" display-format="DD/MM/YYYY" clearInput></ion-datetime>
    </ion-item>
   
    <!-- Alteração: Use type="submit" para acionar o ngSubmit -->
    <ion-button type="submit" expand="full">
      <ion-icon slot="end" name="checkmark-outline"></ion-icon>
      Cadastrar Evento
    </ion-button>
  </form>
</ion-content>