<ion-content class="container">

  <ion-header>
    <ion-toolbar>
      <ion-title>Editar atleta</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="fecharModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="atletaForm" (ngSubmit)="salvarEdicao()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome" placeholder="Alterar Nome" clearInput type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input formControlName="cpf" placeholder="Alterar CPF" clearInput type="number"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full">
      <ion-icon slot="end" name="checkmark-outline"></ion-icon>
      Alterar
    </ion-button>
  </form>
</ion-content>
