ion-header {
  display: flex;
  align-items: center;

  ion-toolbar {
    --background: linear-gradient(90deg, #48793c 22%, #bcc200 100%);
    padding: 15px;
    color: #fff;
  }
}

ion-item {
  ion-label {
    width:  100vw;

  }
}

ion-button {
  --background: linear-gradient(90deg, #48793c 22%, #bcc200 100%);
}

.athlete-details {
  width: 100vw;
}


