<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>atletas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list">
    <ion-item *ngFor="let atleta of atletasList">
      <ion-label>{{ atleta.nome }}<br><br>{{ atleta.cpf }}</ion-label>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content> -->


